html {
    box-sizing: border-box;
}


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    background-color: rgb(181, 227, 228);
}

header h1 {
    text-align: center;
    background-color: rgb(100, 142, 194);
    padding: 15px 0px 15px 0px;
}

p {
    text-align: center;
    font-size: 14px;
}

img {
    width: 24%;
    display: inline;
    justify-content: space-around;
    align-items: center;
}

footer {
    text-align: center;
    font-size: 14px;
   padding-top: 10%;
}